body {
  color: #fff;
  background-color: #000000;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.logo {
  width: 170px;
}

.navbar-text,
.navbar-brand,
.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: green !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navbar-nav .nav-item {
  margin-right: 50px;
}

.nav-link {
  font-size: 1.2em;
}

.main {
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  width: 1300px;
}

.main h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

main .centrado {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  font-size: 1.5em;
}

.d-item {
  height: 500px;
}

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.descripcion {
  text-align: justify;
  line-height: 1.7em;
}

.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  margin-top: 50px;
  width: 100%;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
}

.textofooter {
  display: block;
  margin-top: 20px;
}

.same-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.same-height .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.same-height img {
  object-fit: cover;
  height: 300px;
}

.card-title {
  text-align: center;
}

.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  background-color: #000000;
  color: #fff;
  border: none;
}

.btn-small:hover {
  background-color: black;
}

form {
  padding: 50px 55px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

input,
textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
  padding: 5px 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: auto;
}

.carousel-inner img {
  max-height: 500px;
  object-fit: cover;
}

.gallery-container,
.description-container {
  margin: 20px;
}

.feature-box {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  justify-content: center;
}

.feature-box i {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
    max-width: 130px;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  .navbar-nav.nav-item {
    margin-right: 0;
  }
  .navbar-nav.nav-item:last-child {
    margin-top: 20px;
  }
  body {
    font-size: 16px;
  }
  main {
    width: 100%;
  }
  .productosdest-1 {
    margin-bottom: 20px;
  }
  .productosdest-1 img {
    max-width: 100%;
    height: auto;
  }
  .card-body {
    padding: 10px;
  }
  .row {
    flex-direction: column;
    align-content: center;
  }
  .descripcion.row {
    flex-direction: column;
    align-items: center;
  }
  .descripcion.col-lg-6 {
    text-align: center;
  }
  .navbar-brand {
    text-align: center;
  }
  .card.same-height {
    margin-bottom: 30px;
  }
  .map-iframe {
    width: 100%;
    height: 300px;
  }
  .feature-box {
    margin: 10px 0;
  }
  .centrado ol {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2em;
  }
}
.jello:hover {
  animation-name: jello;
  -webkit-animation-name: jello;
  -moz-animation-name: jello;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
}

@keyframes jello {
  from, 11.1%, to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.float {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.float:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

/*# sourceMappingURL=styles.css.map */
