.feature-box {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .feature-box i {
    margin-bottom: 16px;
  }